---
import { Icon } from "astro-icon/components";

const menu = [
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
  {
    label: "label 1",
    icon: "user",
  },
  {
    label: "label 2",
    icon: "user",
  },
  {
    label: "label 3",
    icon: "user",
  },
];
---

<aside class="hidden lg:flex h-full border-r border-white-200 overflow-scroll">
  <nav>
    <ol>
      {
        menu.map((i) => (
          <li class="p-2 border-b border-white-100 hover:bg-white-50 text-sm md:text-lg flex items-center gap-2 cursor-pointer">
            <Icon name={i.icon} /> {i.label}
          </li>
        ))
      }
    </ol>
  </nav>
</aside>
