---
import Layout from "@layouts/Layout.astro";
import Menu from "@components/pages/docs/Menu.astro";
import Section from "@components/common/Section.astro";

import Article from "@components/pages/docs/Article.astro";
---

<Layout title="ABC Printing Digital | Documentacion">
  <Section
    extraClass="pt-[85px] max-w-[1280px] min-h-[100vh] h-[100vh] grid-cols-[150px_1fr] place-content-start"
  >
    <Menu />

    <div class="h-full p-4 overflow-scroll">
      <Article />
      <Article />
      <Article />
      <Article />
      <Article />
    </div>
  </Section>
</Layout>
