---
import { Picture } from "astro:assets";

import GreatingImage from "@assets/image.png";

import IconTime from "@assets/icons/time.svg";
import IconWallet from "@assets/icons/wallet.svg";
import IconUpload from "@assets/icons/upload.svg";
import ShareTime from "@assets/icons/share.svg";

import Section from "../../common/Section.astro";
import Button from "../../common/Button.astro";
---

<Section
  extraClass="max-w-[1020px] py-16 grid-cols-1 md:grid-cols-[1fr_400px] gap-8"
>
  <article
    class="min-h-[100px] w-full flex flex-col justify-between items-center md:items-start"
  >
    <h1 class="text-4xl md:text-3xl lg:text-5xl font-bold">
      Configuración rápida
    </h1>
    <p
      class="text-sm text-center md:text-left md:text-sm lg:text-xl text-white-500"
    >
      Puedes comenzar a usar la facturación digital en poco tiempo, gracias a un
      proceso de configuración sencillo.
    </p>

    <ul
      class="w-[300px] md:w-auto py-4 text-white-700 flex flex-col gap-2 md:gap-4"
    >
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconTime class="min-w-[30px]" /> Reducción del tiempo de implementación
      </li>
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconWallet class="min-w-[30px]" /> Mayor facilidad de uso
      </li>
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconUpload class="min-w-[30px]" /> Menor riesgo de errores
      </li>
    </ul>

    <Button extraClass={"mb-4"} label="label">
      <ShareTime slot="start" width={20} height={20} />
    </Button>
  </article>

  <Picture
    class:list={"w-[300px] mx-auto md:w-full  max-h-[500px] aspect-square"}
    src={GreatingImage}
    formats={["avif", "webp"]}
    alt="Grating image"
  />
</Section>
