---
import { Picture } from "astro:assets";

import GreatingImage from "@assets/image.png";

import IconTime from "@icons/time.svg";
import IconWallet from "@icons/wallet.svg";
import IconUpload from "@icons/upload.svg";
import ShareTime from "@icons/send.svg";

import Section from "../../common/Section.astro";
import Button from "../../common/Button.astro";
---

<Section
  extraClass="max-w-[1280px] min-h-[100vh] py-16 grid-cols-1 md:grid-cols-[1fr_300px] lg:grid-cols-[1fr_400px]"
>
  <article
    class="min-h-[100px] w-full flex flex-col justify-between items-center md:items-start"
  >
    <h1 class="text-4xl md:text-3xl lg:text-5xl font-bold">Imprenta Digital</h1>
    <h2 class="md:text-1xl lg:text-2xl font-medium">
      ¡Trabajo Digital Optimizado!
    </h2>
    <h3
      class="text-sm text-center md:text-left md:text-sm lg:text-xl text-white-500"
    >
      Autorizados como Imprenta Digital bajo la Providencia SENIAT/INTI/0012 de
      fecha 17/01/2024.
    </h3>

    <ul class="py-4 text-white-700 flex flex-col gap-2 md:gap-4">
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconTime class="min-w-[30px]" /> Agilidad y eficiencia
      </li>
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconWallet class="min-w-[30px]" /> Reducción de costos
      </li>
      <li class="text-sm md:text-lg flex items-center gap-2 md:gap-4">
        <IconUpload class="min-w-[30px]" /> Mayor seguridad y control
      </li>
    </ul>

    <Button label="Contactanos" extraClass="mb-8 md:mb-0">
      <ShareTime slot="start" width={20} height={20} />
    </Button>
  </article>

  <Picture
    class:list={"w-[300px] mx-auto md:w-full max-h-[500px] aspect-square"}
    src={GreatingImage}
    formats={["avif", "webp"]}
    alt="Grating image"
  />
</Section>
