---
import type { JSX } from "astro/jsx-runtime";

interface Props {
  label?: string;
  extraClass?: string;
}

const { label, extraClass } = Astro.props;
---

<button
  type="button"
  class={`py-2 px-4 rounded-full bg-main-900 hover:bg-main-800 cursor-pointer transition text-white flex items-center gap-2 ${extraClass}`}
>
  <slot name="start" />
  {label}
  <slot name="end" />
</button>
