---
import { Picture } from "astro:assets";

import logo from "../../assets/images/common/logo.png";
import IconUser from "../../assets/icons/user.svg";

import LINKS from "../../assets/navigation.json";
import Button from "./Button.astro";
---

<header class="h-[150px] p-8 grid grid-cols-[200px_1fr]">
  <div class="max-h-full">
    <a href="/">
      <Picture
        class:list={"w-[100px] h-[75px] sm:w-[150px] sm:h-[150px] md:w-auto md:h-full max-h-[100px] "}
        src={logo}
        formats={["avif", "webp"]}
        alt="ABC Printing Logo"
      />
    </a>
  </div>

  <div class="max-h-full flex items-center justify-end gap-8">
    <nav role="navigation">
      <ul class="flex gap-8">
        {
          LINKS.map((l) => (
            <li>
              <a href={l.link} class="text-main-900 hover:text-main-600">
                {l.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="hidden md:flex">
      <a href="#">
        <Button label="Iniciar sesión">
          <IconUser slot="start" width={20} height={20} />
        </Button>
      </a>
    </div>
  </div>
</header>
